.Stickie {
  position: absolute;
  background-color: #fffcb2;

  padding: 20px;
  font-size: 12px;

  z-index: 0;

  resize: none;

  border: none;

  box-shadow: 0 0 4px rgb(200, 200, 200);
}

.Stickie:focus {
  z-index: 1;
}